body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

/* .content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
} */

.logo {
    width: 100%;
    height: 93%;
    line-height: 110%;
    padding-top: 0%;
    margin: 0% 1%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

li {
    list-style-type: none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(0, 0, 0);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: none;
}

@media(min-width: 878px) {
    .fonte{
        font-size: 187%;
    }

    nav ul li {
        display: inline-block;
        padding: 5px 10px;
    }
    /* Header */
    #header {
        height: 70px;
        z-index: 997;
        padding: 10px 0;
        background: rgba(26, 24, 22, 0.85);
        border-radius: 0px 0px 10px 10px;
    }

    nav {
        width: 100%;
        line-height: 60px;
    }
    div h3 {
        line-height: 110%;
        padding-top: 1%;
        margin: 0% 1%;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 2px;

    }

    #menu a {
        display: block;
        padding: .5rem;
    }

    nav ul {
        text-align: right;
        margin: 0rem -2rem 0rem -9rem;
        padding-right: 40px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }
}

@media(max-width: 877px) {

    .logo {
          /* position: fixed;
          top: -69px;
          margin-top: 16px; */
          line-height: 100rem;
          padding-top: .5rem;
          margin: 0rem -4rem 0rem 1rem;
          color: #fff;
          font-weight: bold;
          /* font-size: 20px; */
          letter-spacing: 2px;
    }

    div h3 {
        font-size: 1.1rem;
        line-height: 111%;
        float: left;
        margin: 0.5rem -9rem 0rem 0rem;
        color: #fff;
        letter-spacing: 0px;

    }

    nav {
        width: 6rem;
        height: 1.7rem;
        line-height: 12px;
        margin: 0rem 0rem -1rem 0rem;
    }

    nav ul {
        text-align: center;
        /* margin: 1.6rem 0rem 1rem 14rem; */
        padding-right: 1rem;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
    }

    #menu a {
        display: block;
        padding: .5rem .5rem .5rem .5rem;
    }
    nav ul{
        padding-left: 1rem;
    }

}

/* Imagem inicial */
.imagem {
    width: 100%;
    height: 135px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: rgb(7, 7, 7);
}

/* Scroll */
html::-webkit-scrollbar {
    width: 10px;
 }

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: #918f8f;
  border-radius: 20px;
}

.fonte{
	font-family: 'Dancing Script';
}

#btn-mobile {
    display: none;
}

@media (max-width: 877px){
    .fonte{
        font-size: 187%;
    }
    
    #icone-menu{
        border-top: 2px solid;
        width: 20px;
    }
    #icone-menu::after, #icone-menu::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }
    #nav.active #icone-menu{
        border-top-color: transparent;
    }
    #nav.active #icone-menu::before{
        transform: rotate(135deg);
    }
    #nav.active #icone-menu::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #btn-mobile{
        display: flex;
        padding: 0rem 0rem 1.5rem 1rem;
        font-size: 1.4rem;
        color: white;
        border: none;
        /* border:solid rgba(59, 59, 58, 0.85);
        border-radius: 10px 10px 10px 10px; */
        background: none;
        cursor: pointer;
        /* margin: 0rem 0rem 0rem 15rem; */
        gap: .5rem;
    }
    #menu{
        display: block;
    }
    #nav.active #menu{
        /* display: block; */
        height: calc(100vh - 20vh);
        /* width: calc(37vh - 20vh);     */
        visibility: visible;overflow-y: auto;
    }
    .layoutMenu {
        width: -1rem;
        top: 0rem;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 10px 10px 10px 10px;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #header{
        width: 100%;
        height: 10%;
        z-index: 1000;
        padding: 0% 0%;
        background: rgba(26, 24, 22, 0.85);
        border-radius: 0px 0px 10px 10px;
    }
}

.rodape {
    bottom: 0;
    background: rgb(27, 27, 27);
    color: #FFF;
    /* width: 100%;
    height: 100px;     */
    text-align: center;
    line-height: 100px;
}

.boasvindas{
    color: rgb(0, 0, 0);
   padding-top: 72%;
}
.boasvindas h3{
    color: rgb(0, 0, 0);
}

.texto {
    position: absolute;
    /* background-color: rgba(0,0,0,0.5); */
    color:#fff;
    text-align: center;
    top: 100px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}

/* footer{
    position: fixed;
    bottom:0;
    left: 0;
} */

/* Borda de Ajuda */
.ajuda1{
    border-color: rgb(73, 228, 12);
    border-style: solid;
}
.ajuda2{
    border-color: rgb(241, 6, 202);
    border-style: solid;
}
.ajuda3{
    border-color: rgb(26, 12, 228);
    border-style: solid;
}
.ajuda4{
    border-color: rgb(92, 85, 85);
    border-style: solid;
}